<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
<div class="container">
        <h1>Book List</h1>
        <ul>
            {% for book in books %}
            <li>
                <a href="{% url 'book_detail' book.id %}">{{ book.title }}</a> by {{ book.author }}
                <a href="{% url 'delete_book' book.id %}">(Delete)</a>
            </li>
            {% endfor %}
        </ul>
        <a href="{% url 'add_book' %}">Add Book</a>
    </div>
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
</body>
</html>